@use "variables" as *;

.screen-title {
    font-size: 2rem; // Tamaño de fuente grande para el título.
    font-weight: 800; // Fuente muy gruesa para darle énfasis.
    margin-bottom: 1rem; // Espacio inferior para separarlo del contenido.
}

.section {
    margin: 1rem 0; // Añade espacio vertical para separar las secciones.
}

.grid-days {
    display: grid; // Usa CSS Grid para el layout.
    grid-template-columns: repeat(7, 1fr); // Crea 7 columnas de igual ancho (una para cada día de la semana).
    gap: .5rem; // Espacio entre los botones de día.
}

.day {
    padding: .6rem; // Espacio interior.
    text-align: center; // Centra el número del día.
    border-radius: 8px; // Bordes redondeados.
    border: 1px solid $color-muted; // Borde sutil.
    background: #fff; // Fondo blanco.
}

.day.selected {
    background: #000; // Fondo negro para resaltar.
    color: #fff; // Texto blanco para contraste.
}